# Задание 1 
Представьте, что вы устроились в компанию, которая занимается продажей ювелирных
украшений через интернет-магазин. Какие 5 продуктовых метрик вы бы запустили в первую
очередь? О чем они могут рассказать бизнесу?

1. <b>customer acquisition cost</b> - оценивает эффективность маркетинга и рекламы. Метрика показывает сумму, которая тратится на привлечение одного «платящего» клиента. 

2. <b>conversion rate</b> - конверсия в целевое действие (в интернет-магазине - покупка). Показывает процент пользователей, которые совершили ряд действий от захода на сайт/приложение и до совершения покупки. Метрика определяет, насколько эффективен сам сайт/приложение и источники трафика, которые вы используете, а также помогает понять на каких этапах происходит наибольший отток клиентов. Работая с узкими горлышками конверсии можно значительно повысить доход компании.

3. <b>average revenue per user</b> - ARPU показывает, сколько денег в среднем приносит компании один пользователь за определенный промежуток времени. Помогает оценить финансовый потенциал компании, привлечь инвесторов к проекту, оценить изменения в ценах и проанализировать результаты рекламной кампании.

4. <b>LTV</b> - ценность клиента за весь цикл его "жизни" на сайте/приложении. Метрика показывает общую сумму денег, которую покупатель тратит за всё время. Метрика может помочь понять, сколько тратить на привлечение и удержание клиентов; определить, как быстро окупятся средства, которые компания тратит на привлечение новых клиентов; выявить клиентов с высокой и низкой ценностью; выяснить, какие рекламные каналы приносят более ценных клиентов в долгосрочной перспективе.

5. <b>retention</b> - удержание или возвращаемость клиентов с течением времени. Помогает оценить результаты рекламных кампаний, определить фрод, выявлять баги и ошибки в продукте.

# Задание 2

<b> О чем вам говорит эта когорта, построенная по количеству привлеченных клиентов? </b>
1. Когорты привлеченных пользователей увеличивались с сентября 2016 по ноябрь/декабрь 2017. В ноябре/декабре 2017 было достигнуто максимальное количество пользователей.
2. После декабря 2017 наблюдается спад количества привлеченных пользователей, а затем период умеренных показателей с небольшими флуктуациями, который завершается в сентябре 2018, после которого наблюдается большое падение минимальный показатель в октябре 2018.
3. С ноября 2018 по март 2019 наблюдается цикличность с подъемами и спадами в количестве привлеченных пользователей. 
4. Отток пользователей по когортам в целом стабильный и одинаковый. 


<b> Какие будут ваши действия после анализа этого отчета? </b>
1. Нужно проверить с чем связан большой спад в привлечении пользователей в сентябре/октябре 2018. Неправильная рекламная кампания или же что-то другое?
2. Нужно проверить причины цикличности привлечения пользователей в конце 2018 и начале 2019 года. 

<b> Как можно улучшить отчет? </b>
1. Можно было бы добавить детализацию, чтобы понимать конкретные значения.

# Задание 3

Представьте ситуацию. На этой странице https://sokolov.ru/jewelry-catalog/product/1011545-3/
появился новый функционал «Примерка» (он находится снизу справа от фотографии кольца).
Продакт менеджер попросил сделать разметку для сайта и мобильного приложения, чтобы
замерить эффективность этой фичи в аналитических системах Google Analytics и Firebase. Опишите
последовательность ваших действий, чтобы статистика начала собираться. А также как вы будете
оценивать эффективность нового функционала?

### Google analytics

1. Необходимо установить счетчик на нажатие кнопки "примерка". 
2. Идем в google analytics и авторизуемся. Затем переходим во вкладку «Администратор».
3. Настраиваем цели для нажатия на кнопку. Добавляем новую цель через кнопку «+ Цель». 
4. В открывшемся подразделе «Установка цели» активируем пункт «Собственная» и нажимаем на синюю кнопку «Далее».
5. В «Описание цели» вводим ее название, а затем среди типов цели отмечаем «Событие».
6. В последнем подразделе («Подробные сведения о цели») необходимо заполнить пункты «Категория», «Действие», «Ярлык».
7. Затем необходимо внести код события в html-код кнопки на сайте.

### Оценка эффективности нового функционала

Прежде чем выпускать функционал для всех пользователей необходимо провести A/B- тестирование на статистически значимых выборках и замерить влияние новой кнопки на, например, конверсию в покупку, средний чек и др.

# Задание 4

В данном задании можете использовать язык программирования Python. Подключитесь к веб-
странице https://sokolov.ru/terms/bonus-system/ и посчитайте количество упоминаний следующих
слов: SOKOLOV, sokolov, mySOKOLOV, mail. Затем отсортируйте от большего к меньшему и
выгрузите в текстовый файл в следующем формате (порядок может быть другой):
SOKOLOV – A упоминаний,
sokolov – B упоминаний,
mySOKOLOV – C упоминаний,
mail – D упоминаний.

In [ ]:
from bs4 import BeautifulSoup
import re
import requests
from collections import Counter
from string import punctuation
from nltk.tokenize import WordPunctTokenizer
tk = WordPunctTokenizer()

In [ ]:
punctuation += '«»'

In [ ]:
punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~«»'

In [ ]:
r = requests.get("https://sokolov.ru/terms/bonus-system/")
soup = BeautifulSoup(r.content)

In [ ]:
text_p = (''.join(s.findAll(text=True))for s in soup.findAll('p'))
text_div = (''.join(s.findAll(text=True))for s in soup.findAll('div'))

In [ ]:
c_p = Counter((x.rstrip(punctuation) for y in text_p for x in tk.tokenize(y)))
c_div = Counter((x.rstrip(punctuation) for y in text_div for x in tk.tokenize(y)))
total = c_div + c_p

In [ ]:
print('SOKOLOV: {}'.format(total['SOKOLOV']))
print('sokolov: {}'.format(total['sokolov']))
print('mySOKOLOV: {}'.format(total['mySOKOLOV']))
print('mail: {}'.format(total['mail']))

SOKOLOV: 117
sokolov: 164
mySOKOLOV: 62
mail: 24

In [ ]:
list_count = ['SOKOLOV: {}'.format(total['SOKOLOV']), 'sokolov: {}'.format(total['sokolov']), 'mySOKOLOV: {}'.format(total['mySOKOLOV']), 'mail: {}'.format(total['mail'])]

In [ ]:
list_count

['SOKOLOV: 117', 'sokolov: 164', 'mySOKOLOV: 62', 'mail: 24']

In [ ]:
with open('sokolov_count.txt', 'a') as out:
    for l in list_count:
      out.write(l + '\n')

# Задание 5

### Генерация данных для запроса

In [ ]:
!pip install pandasql faker

In [ ]:
import pandas as pd
from pandasql import sqldf
import numpy as np
import random
import time
import datetime 
from faker import Faker

In [ ]:
fake = Faker()

In [ ]:
сust_id = np.arange(1, 101)
is_email = [random.randrange(2) for p in range(0, 100)]
birthday = [fake.date_between(start_date='-60y', end_date='-24y') for p in range(0, 100)]

In [ ]:
np.arange(1, 10)

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
customers = pd.DataFrame({'сustomer_id': сust_id, 
                             'birthday': birthday, 
                             'is_email': is_email})

In [ ]:
customers.birthday = pd.to_datetime(customers.birthday)

In [ ]:
customers.head(3)

   сustomer_id   birthday  is_email
0            1 1967-08-31         0
1            2 1998-04-04         1
2            3 1971-05-30         1

In [ ]:
customers.dtypes

сustomer_id             int64
birthday       datetime64[ns]
is_email                int64
dtype: object

In [ ]:
receipt_id = np.arange(1, 1001)
сust_id2 = [random.randrange(1,101) for p in range(0, 1000)]
receipt_date = [fake.date_between(start_date='-4y', end_date='now') for p in range(0, 1000)]

In [ ]:
sales = pd.DataFrame({'receipt_id': receipt_id, 
                             'сustomer_id': сust_id2, 
                             'receipt_date': receipt_date})

In [ ]:
sales.receipt_date = pd.to_datetime(sales.receipt_date)

In [ ]:
sales.head(3)

   receipt_id  сustomer_id receipt_date
0           1           51   2020-03-05
1           2           76   2022-07-13
2           3            4   2021-12-03

In [ ]:
sales.dtypes

receipt_id               int64
сustomer_id              int64
receipt_date    datetime64[ns]
dtype: object

### Запрос

Описание задачи: Мы планируем провести email кампанию по профилю клиента:
- возраст: 30+
- наличие покупки в 2021 году
- общее кол-во покупок за всю историю больше 1.

Напишите запрос к БД так, чтобы итоговая выгрузка содержала список cust_id которые соответствуют параметрам профиля клиента.

При решении можно использовать любой диалект SQL. Если задача решается несколькими запросами – опишите дальнейшие шаги по подготовке итога.

In [ ]:
q = """
       SELECT сustomer_id 
       FROM sales
       WHERE strftime('%Y', receipt_date) = '2021' AND сustomer_id IN (SELECT сustomer_id
                                                                       FROM customers
                                                                       WHERE (strftime('%Y', 'Now') - strftime('%Y', birthday)) >= 30)
       GROUP BY сustomer_id
       HAVING COUNT(*) > 1;
    """

In [ ]:
sqldf(q)

    сustomer_id
0             1
1             3
2             4
3             5
4             7
5             8
6            10
7            12
8            14
9            16
10           17
11           21
12           23
13           26
14           29
15           30
16           34
17           36
18           38
19           39
20           40
21           41
22           42
23           44
24           47
25           48
26           49
27           50
28           53
29           54
30           55
31           57
32           62
33           67
34           68
35           70
36           71
37           72
38           74
39           75
40           76
41           77
42           78
43           79
44           80
45           81
46           83
47           89
48           90
49           92
50           94
51           96
52           97
53          100